/*-- scss:defaults --*/
$recon-blue: #294481;
$navbar-bg: $recon-blue;
$link-color: $recon-blue;

/*-- scss:rules --*/
body {
  background-image: url("img/background.png");
  background-repeat: no-repeat;
}

.pkg-logo {
  float: left;
  margin: 5px;
  max-width: 125px !important;
}

/* from reconhub.github.io (Main site) */
/* --- Lists of circles --- */

.list-circles {
  text-align: center;
}

@media only screen and (min-width: 1200px) {
  .list-circles {
    width: 150%;
    margin-left: -25%;
  }
}


.list-circles-item {
  display: inline-block;
  width: 240px;
  vertical-align: top;
  margin: 0;
  padding: 20px;
}

.list-circles-item:hover {
  background: #fafafa;
}

.list-circles-item .item-img {
  max-width: 150px;
  height: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 1px solid #777;
}

.list-circles-item .item-desc {
  font-size: 16px;
}

.list-circles-item .item-links {
  margin-top: 5px;
}

.list-circles-item .item-link {
  margin:0 3px;
  color: #314f96;
  text-decoration: none !important;
}

.list-circles-item .item-link:hover {
  color: #042265;
}
